body {
  text-align:center;
  font-family: 'Telex', sans-serif;
  padding: 15px 0px 15px 0px;
}

strong, h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}

img.pivotx-image {
  border: none;
}

div#container {
  width: 725px;
  text-align:left;
  margin-left: auto;
  margin-right: auto;
}

header#header {
  width:725px;
  height:125px;
  background-image:url('../images/nb-head-logo.png');
  background-repeat:no-repeat;
}

header#header h1 {
  display: none;
}

nav {
  float: left;
  width: 100%;
  clear: both;
  font-family: 'Amethysta', serif;
  font-style: italic;
}

nav ul {
  float: left;
  width: 100%;
  clear: both;
  margin-top: 6px;
  margin-bottom: 8px;
  margin-left: 244px;
}

nav ul li {
  float: left;
  width: 115px;
  height: 74px;
  text-align: center;
}

nav ul li a {
  text-decoration:none;
  color: #000;
  display:block;
  width: 115px;
  height: 74px;
  text-indent: -9999px;
  direction: ltr;
  background-repeat:no-repeat;
}

#sideimage {
  width:244px;
  background-repeat:no-repeat;
  height: 189px;
  float: left;
  margin: 1em 0;
}

.content {
  float: left;
  margin-top: 1em;
  width: 481px;
}

.content h1,
.content h2,
.content h3,
.content ul,
.content ol,
.content table,
.content div,
.content p,
.extra h1,
.extra h2,
.extra h3,
.extra ul,
.extra ol,
.extra table,
.extra div,
.extra p {
  margin-bottom: 1em;
}

.content a,
.extra a {
  text-decoration:none;
}

.content a:hover,
.extra a:hover {
  text-decoration:underline;
}

.extra article {
  float: left;
  width: 100%;
  clear: both;
}

.extra header.sub {
  float: left;
  width: 100%;
  clear: both;
  padding: 1ex 0px 1ex 0px;
}

.extra header.sub h1,
.extra header.sub section.date,
.extra header.sub section.more {
  float: left;
  margin:0;
}

.extra header.sub h1 {
  width: 400px;
}

.extra header.sub section.date {
  width: 244px;
  font-size: .8em;
}

.extra header.sub section.more {
  font-size: .8em;
  text-align: right;
  float: right;
}

.extra section.text {
  float: left;
  width: 481px;
  clear: both;
  margin-left: 244px;
  padding-top: 1em;
}

/* coloring per section */

/* home/hoe */
.home #sideimage,
.hoe #sideimage {
  background-image:url('../images/nb-image-home.png');
}

.home nav,
.hoe nav {
  border-bottom:2px solid #ff5400;
}

nav ul li.home a,
nav ul li.hoe a {
  background-image:url('../images/hoe-passief.png');
}

nav ul li.home a:hover,
nav ul li.hoe a:hover {
  background-image:url('../images/hoe-actief.png');
}

.home .content a,
.home .extra a,
.hoe .content a,
.hoe .extra a {
  color: #ff5400;
}

.home .extra article:first-child header.sub,
.hoe .extra article:first-child header.sub {
  border-top: 1px solid #ff5400;
}

.home .extra article.border-bottom,
.home .extra header.sub,
.hoe .extra article.border-bottom,
.hoe .extra header.sub {
  border-bottom: 1px solid #ff5400;
}

/* works/wie */
.works #sideimage,
.wie #sideimage {
  background-image:url('../images/nb-image-works.png');
}

nav ul li.works a,
nav ul li.wie a {
  background-image:url('../images/wie-passief.png');
}

nav ul li.works a:hover,
nav ul li.wie a:hover {
  background-image:url('../images/wie-actief.png');
}

.works .content a,
.works .extra a,
.wie .content a,
.wie .extra a {
  color: #ff0066;
}

.works .extra article:first-child header.sub,
.wie .extra article:first-child header.sub {
  border-top: 1px solid #ff0066;
}

.works .extra article.border-bottom,
.works .extra header.sub,
.wie .extra article.border-bottom,
.wie .extra header.sub {
  border-bottom: 1px solid #ff0066;
}

/* about/wat */
.about #sideimage,
.wat #sideimage {
  background-image:url('../images/nb-image-about.png');
}

nav ul li.about a,
nav ul li.wat a {
  background-image:url('../images/wat-passief.png');
}

nav ul li.about a:hover,
nav ul li.wat a:hover {
  background-image:url('../images/wat-actief.png');
}

.about .content a,
.about .extra a,
.wat .content a,
.wat .extra a {
  color: #33cc33;
}

.about .extra article:first-child header.sub,
.wat .extra article:first-child header.sub {
  border-top: 1px solid #33cc33;
}

.about .extra article.border-bottom,
.about .extra header.sub,
.wat .extra article.border-bottom,
.wat .extra header.sub {
  border-bottom: 1px solid #33cc33;
}

/* contact/waar */
.contact #sideimage,
.waar #sideimage {
  background-image:url('../images/nb-image-contact.png');
}

nav ul li.contact a,
nav ul li.waar a {
  background-image:url('../images/waar-passief.png');
}

nav ul li.contact a:hover,
nav ul li.waar a:hover {
  background-image:url('../images/waar-actief.png');
}

.contact .content a,
.contact .extra a,
.waar .content a,
.waar .extra a {
  color: #0066ff;
}

.contact .extra article:first-child header.sub,
.waar .extra article:first-child header.sub {
  border-top: 1px solid #0066ff;
}

.contact .extra article.border-bottom,
.contact .extra header.sub,
.waar .extra article.border-bottom,
.waar .extra header.sub {
  border-bottom: 1px solid #0066ff;
}

